allow untrusted_app_25 hal_neuralnetworks_hwservice:hwservice_manager {find};
allow untrusted_app_25 hal_neuralnetworks_armnn:binder {call transfer};
allow untrusted_app_25 sysfs_armnn:file { read open getattr};
